html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.wholeP {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  overflow: auto;
  overflow-x: hidden;
  background-color: #e0e8f0;
}

.nav-link {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.5vw;
  color: #778899 !important;
  opacity: 0.8;
  letter-spacing: 1px;
  margin: 8px;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  color: #7bd3d6 !important;
  opacity: 1;
}

.navB {
  position: fixed;
  top: 3%;
  width: 80%;
  left: 10%;
  z-index: 999;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px #8ea0a3;
}

.btmB {
  position: fixed !important;
  text-align: center;
  background-color: lightgrey;
  opacity: 0.9;
  bottom: 0;
  /* top: 100%; */
  margin-top: -40px;
  height: 40px;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 99;
}

.infos{
  position: absolute;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  width: 55%;
}

.infotitle {
  position: absolute;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 74px;
  font-weight: bold;
  color: #1a334c;
  opacity: 1;
  width: 80%;
  left: 10%;
  letter-spacing: 3px;
  z-index: 99;
}

.infotext {
  position: absolute;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #1a334c;
  opacity: 1;
  width: 1000px;
  left: 50%;
  margin-left: -525px;
  margin-top: 180px;
  letter-spacing: 1px;
  z-index: 99;
}

.video {
  min-width: 550px;
  min-height: 380px;
  width: 100%;
  margin-top: 12% !important;
  border: none;
  border-radius: 5%;
  box-shadow: 0px 20px 16px 0px rgba(131, 136, 194, 0.6);
}

.demo {
  margin: 0px 30px 0px 50px;
  max-width: 520px;
}

.ins {
  max-width: 520px;
  font-size: 20px;
  margin: 5px 20px 60px 50px;
  align-self: center;
}

#pageContent {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  flex-flow: column;
  --gap: 80px;
  top: 160px;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: calc(2200 + var(--gap));
  align-items: space-between;
  justify-content: center;
}
#pageContent > * {
  margin-top: var(--gap);
}

#abIntrotext {
  align-self: center;
  margin-left: 0px;
  margin-right: 5%;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  max-width: 450px;
  font-family: "Gill Sans", sans-serif;
}

#demoText {
  align-self: center;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  max-width: 450px;
  margin-left: 5%;
  font-family: "Gill Sans", sans-serif;
}

#info-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}

#ctxVideo {
  display: flex;
  align-self: center;
}

#demoVideo {
  display: flex;
  align-self: center;
  margin-left: -10%;
  margin-right: 10%;
}

#ftrDemo {
  margin-top: 18%;
  width: 800px;
  height: 600px;
}

#iconfont {
  display: inline-block;
  position: absolute;
  width: 130px;
  height: 45px;
  left: 30px;
  top: 30px;
  font-size: 30px;
  color: #3498db;
  text-align: center;
  font-weight: bold;
  font-family: Chalkduster, fantasy;
}

#bgColor {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e0e8f0;
  opacity: 0.8;
}

#topbar {
  background-color: #f5f5f5;
  width: 100%;
  height: 120px;
  transition-timing-function: ease;
  transition: 0.3s;
}

#aicon {
  position: absolute;
  width: 220px;
  height: 120px;
  left: 5%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 999;
}

#upBtn {
  position: fixed;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  width: 50px;
  height: 50px;
  right: 60px;
  bottom: 60px;
  color: black;
  background-color: #e1e0e0;
}

#startBtn {
  position: absolute;
  width: 15%;
  max-height: 60%;
  right: 5%;
  padding: 13px;
  align-self: center;
  text-align: center;
  border: 3px solid #3498db;
  border-radius: 10%;
  font-size: 1.6vw;
  font-weight: bold;
  color: #3498db;
  cursor: pointer;
  text-decoration: none;
}
#startBtn:hover,
#startBtn:focus {
  text-decoration: underline;
}

#navbarSupportedContent {
  margin-left: 26%;
}

#infoContent {
  display: flex;
  order: 1;
  flex-grow: 1;
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  align-self: center;
  transition-timing-function: ease;
  transition: 0.3s;
}

#demoContent {
  display: flex;
  order: 2;
  flex-grow: 1;
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  align-self: center;
  transition-timing-function: ease;
  transition: 0.3s;
}

#ftrContent {
  display: flex;
  order: 3;
  flex-grow: 1;
  text-align: center;
  align-self: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  transition-timing-function: ease;
  transition: 0.3s;
}

#ctx {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

#demo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

#startBtm {
  display: flex;
  order: 4;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  opacity: 1;
  color: #3498db;
  font-size: 60px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px rgba(61, 77, 95, 0.6);
}
#startBtm:hover,
#startBtm:focus {
  text-decoration: underline;
}
